.shadow {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.shadow-sm {
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.shadow-lg {
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.shadow-0,
.shadow-none {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.shadow-1 {
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.07) !important;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.07) !important;
}

.shadow-2 {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07),
    0 1px 2px 0 rgba(0, 0, 0, 0.05) !important;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.05) !important;
}

.shadow-3 {
  -webkit-box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.07),
    0 2px 4px -1px rgba(0, 0, 0, 0.05) !important;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.07),
    0 2px 4px -1px rgba(0, 0, 0, 0.05) !important;
}

.shadow-4 {
  -webkit-box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.07),
    0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.07),
    0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
}

.shadow-5 {
  -webkit-box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.07),
    0 10px 10px -5px rgba(0, 0, 0, 0.05) !important;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.07),
    0 10px 10px -5px rgba(0, 0, 0, 0.05) !important;
}

.shadow-6 {
  -webkit-box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.21) !important;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.21) !important;
}

.shadow-1-soft {
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.05) !important;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.05) !important;
}

.shadow-2-soft {
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05) !important;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05) !important;
}

.shadow-3-soft {
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.05) !important;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.05) !important;
}

.shadow-4-soft {
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05) !important;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05) !important;
}

.shadow-5-soft {
  -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05) !important;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05) !important;
}

.shadow-6-soft {
  -webkit-box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.05) !important;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.05) !important;
}

.shadow-1-strong {
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.21) !important;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.21) !important;
}

.shadow-2-strong {
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.21) !important;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.21) !important;
}

.shadow-3-strong {
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.21) !important;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.21) !important;
}

.shadow-4-strong {
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.21) !important;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.21) !important;
}

.shadow-5-strong {
  -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.21) !important;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.21) !important;
}

.shadow-6-strong {
  -webkit-box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.21) !important;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.21) !important;
}

.shadow-inner {
  -webkit-box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06) !important;
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06) !important;
}
